/* タブ切り替え装飾 */
.tab-box{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px gray solid;
    font-size: 20px;
}
.tab-box__inner{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.tab-rink{
    text-decoration: none;
}


/* 商品カード */
.product-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    width: 90%;
}
.product-card{
    width: 200px;
    border: gray;
    box-shadow: 5px 5px 3px #d3d3d3;
    position: relative;

}
.product-card-link{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
.product-card__image{
    width: 100%;
}
.sold-icon{
    text-decoration: none;
    color: red;
    border: 1px red solid;
    border-radius: 3px;
    position: absolute;
    top: 95%;
    right: 0px;
    transform: translate(-50%,-50%);
}

