/* タイトル */
.profile-ttl{
    margin: 80px auto;
    text-align: center;
}

/* 入力画面 */
.profile-img__box{
    text-align: center;
}
.profile-form__box {
    margin: 0 auto;
    width: 50%;
    font-size: 20px;
}

.profile-form__ttl {
    margin-bottom: 0px;
}

.profile-form__input {
    width: 100%;
    height: 50px;
    font-size: 30px;
}
.error-box {
    height: 30px;
    color: red;
}

/* 送信ボタン */
.profile-form__submit-box {
    margin-top: 80px;
    width: 50%;
    margin: 80px auto 30px auto;
}

.profile-form__button {
    width: 100%;
    background-color: #ff4500;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border: none;
}