.content{
    text-align: center;
    margin-top: 200px;
}
.verify-box{
    margin: 0 auto;
    text-align: center;
}
.verify-button{
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #d3d3d3;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.verify-button:hover{
    color: #ff7f50;
    background-color: #c0c0c0;
}
.send-box{
    margin-top: 50px;
}
.send-button{
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 15px;
    background-color: transparent;
}
.send-button:hover{
    text-decoration: underline;
}